<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %>:</h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

Title: <%= form.text_field(:title) %>
<br/>
Description: <%= form.text_area(:description) %>
<br/>

<%= form.submit %>
<%= link_to "Cancel", forum_posts_path(@forum) %>
